/.idea
/kbs1.1/node_modules
/kbs1.1/public/hot
/kbs1.1/public/storage
/kbs1.1/public/media
/kbs1.1/storage/*.key
/kbs1.1/vendor
/kbs1.1/.env
/kbs1.1/.env.backup
/kbs1.1/.phpunit.result.cache
/kbs1.1/Homestead.json
/kbs1.1/Homestead.yaml
/kbs1.1/npm-debug.log
/kbs1.1/yarn-error.log
/kbs1.1/public/kbs-admin/node_modules
/kbs1.1/public/kbs-front/node_modules
/kbs1.1/public/kbs-admin/dist
/kbs1.1/public/kbs-front/dist
/kbs1.1/public/kbs-admin/src/main.js
/kbs1.1/public/kbs-front/src/main.js

/kbs2.1/node_modules
/kbs2.1/public/hot
/kbs2.1/public/storage
/kbs2.1/public/media
/kbs2.1/storage/*.key
/kbs2.1/vendor
/kbs2.1/.env
/kbs2.1/.env.backup
/kbs2.1/.phpunit.result.cache
/kbs2.1/Homestead.json
/kbs2.1/Homestead.yaml
/kbs2.1/npm-debug.log
/kbs2.1/yarn-error.log
/kbs2.1/public/back/node_modules
/kbs2.1/public/front/node_modules
/kbs2.1/public/back/dist
/kbs2.1/public/front/dist
/kbs2.1/public/back/src/main.js
/kbs2.1/public/front/src/main.js
