<ifModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /kbs/admin
	RewriteRule ^kbs/admin/index\.html$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /kbs/admin/index.html [L]
</ifModule>
