html, body {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

body.home {
    padding-top: 0;
}

body {
    padding-top: 91px;
}

.header {
    transition: all 0.4s;
}

.header .bg-light {
    background: transparent !important;
    border-color: transparent !important;
}

header.fixed-header .bg-light {
    background: #ffffff !important;
    border-color: #e5e5e5 !important;
}

header.fixed-header .navbar .logo img {
    height: inherit;
    max-height: 45px;
}

.banner-area {
    position: relative;
    background-position: bottom right;
    background-size: auto;
    min-height: 600px;
}

.banner-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(253 214 114 / 0.2), transparent);
}

.search-input-wrapper .input-group {
    border-radius: 35px;
    border: 1px solid #3fc6d4;
}

.navbar .logo img {
    height: inherit;
    max-height: 70px;
    transition: 0.4s all;
}

/* Featured Section */
.featured-item {
    border-radius: 15px;
    box-shadow: 0 60px 120px rgba(150,155,187,.2);
    transition: all 0.4s;
}

.featured-item.border-radius-0 {
    border-radius: 0;
}

.featured-item .featured-image {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.featured-item .featured-image img {
    width: 100%;
    height: auto;
    transform: scale(1.0);
    transition: all 0.4s;
}

.featured-content-box h4 {
    color: #000;
    transition: all 0.4s;
}

.featured-item p {
    color: #000000;
    line-height: 1.3;
}

.featured-item:hover {
    box-shadow: 0 60px 120px rgba(150,155,187,.4);
}

.featured-item:hover .featured-content-box h4 {
    color: #2496a2;
}

.featured-item:hover .featured-image img {
    transform: scale(1.05);
}

.font-14 {
    font-size: 14px;
}

/* Featured Section End */

/* Category start */
.menu-wrapper {
    border-radius: 0.25rem;
    box-shadow: 1px 2px 15px #e5e5e5;
    transition: all 0.4s;
}

.menu-wrapper:hover {
    box-shadow: 1px 2px 30px #dddddd;
}

.menu-wrapper .menu-title {
    position: relative;
    font-size: 20px;
    color: #000000;
    border-bottom: 1px solid #f1f1f1;
}

.menu-wrapper .nav-link {
    padding: 0.35rem 1rem;
    text-transform: capitalize;
}

.menu-wrapper .nav-pills .nav-link.active {
    color: #ffffff;
}

.menu-wrapper .nav-pills li a {
    color: #000000;
    text-transform: capitalize;
}

.menu-wrapper .nav-pills li a:hover {
    color: #3fc6d4;
}

.tag-list-wrapper li a {
    display: inline-block;
    background: #3fc6d4;
    color: #ffffff;
    margin: 0 5px 5px 0;
    padding: 4px 6px;
    border-radius: 0.25rem;
    line-height: 1;
    min-width: 25px;
    text-transform: lowercase;
}

/* Category end */

/* Article Item start  */
.article-item-box {
    box-shadow: 1px 2px 15px #e5e5e5;
    border-radius: 0.25rem;
    transition: all 0.4s;
}

.article-item-box:hover .article-content-box .article-title {
    color: #3fc6d4;
}

.article-item-box .article-image img {
    width: 100%;
}

.article-content-box {
    color: #000000;
}

.article-content-box .article-title {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    transition: all 0.4s;
}

/* .article-list-items .col-lg-12:last-child .article-item-list-box {
    border-bottom: 1px solid #f1f1f1;
} */

.article-item-list-box {
    padding: 10px 0;
    border: 1px solid #f1f1f1;
    transition: all 0.4s;
}

.article-item-list-box:hover {
    border: 1px solid #3fc6d4;
}

.article-item-list-box:hover .article-content-list-box .article-list-title {
    color: #3fc6d4;
}

.article-item-list-box .article-list-image {
    width: 170px;
}

.article-content-list-box {
    color: #000000;
}

.article-content-list-box .article-list-title {
    font-weight: 600;
    transition: all 0.4s;
}

/* Article Item end */

/* Article details */
.menu-wrapper ul li .nav-link {
    color: #000;
}

.menu-wrapper ul li .nav-link:hover {
    color: #3fc6d4;
}

.menu-wrapper ul li:last-child .recent-article-item-wrapper {
    border-bottom: 0;
    margin-bottom: 0;
}

.recent-article-item-wrapper {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
    transition: all 0.4s;
}

.recent-article-item-wrapper .ra-item-image {
    min-width: 70px;
    width: 70px;
    margin-right: 10px;
}

.recent-article-item-wrapper .ra-item-content {
    font-size: 14px;
}

.ta-content-wrapper iframe {
    width: 100% !important;
}
/* Article details end*/

/* breadcrumbs */
.breadcrumbs ul li {
    position: relative;
    padding-right: 10px;
}

.breadcrumbs ul li:last-child {
    padding-right: 0;
}

.breadcrumbs ul li:after {
    position: absolute;
    content: "/";
    right: 0;
    top: 0;
    color: #dadada;
}

.breadcrumbs ul li:last-child:after {
    display: none;
}

/* breadcrumbs end */

.ta-content-wrapper img {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 100%;
}

.ta-content-wrapper img.note-float-left {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.ta-content-wrapper img.note-float-right {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
}

.ta-content-wrapper p > div {
    margin-bottom: 20px;
}

.topics-category-holder .topics-category-items ul li {
    position: relative;
    padding-left: 25px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.topics-category-holder .topics-category-items ul li a {
    padding-left: 0;
}

.topics-category-holder .topics-category-items ul li:before {
    position: absolute;
    left: 3px;
    top: 9px;
}

.recent-articles li {
    position: relative;
    margin-bottom: 0 !important;
    padding-top: 5px;
}

.recent-articles li a {
    position: relative;
    display: block;
    z-index: 1;
}

.recent-articles li:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 0;
    background: #2496a2;
    opacity: 1;
    transition: 0.4s all;
}

.recent-articles li:hover:before {
    width: 100%;
}

.recent-articles li:hover a {
    color: #ffffff;
}

.topics-category-categories .nav-pills .nav-link {
    position: relative;
}

.topics-category-categories .nav-pills .nav-link:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    content: "";
    background: #3fc6d4;
    opacity: 0;
    transition: all 0.4s;
}

.topics-category-categories .nav-pills .nav-link h6 {
    position: relative;
    margin-bottom: 0;
    transition: all 0.4s;
}

.topics-category-categories .nav-pills .nav-link {
    border-left: 2px solid #3fc6d4;
}

.topics-category-categories .nav-pills .nav-link:hover:before {
    opacity: 1;
    width: 100%;
}

.topics-category-categories .nav-pills .nav-link.active:before {
    opacity: 1;
    width: 100%;
}

.topics-category-categories .nav-pills .nav-link:hover h6,
.topics-category-categories .nav-pills .nav-link.active h6 {
    color: #ffffff;
}

.quiz-item {
    background: #fff;
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 25px 25px 25px;
    border-radius: 4px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz-item .q-featured-caption {
    display: flex;
    align-items: center;
    color: #000;
}

.quiz-item .q-featured-caption .q-icon{
    min-width: 40px;
    margin-right: 10px;
    text-align: center;
}

.quiz-item .q-featured-caption .q-icon i {
    font-size: 40px;
    color: #3fc6d4;
}

.quiz-item .q-featured-caption .q-feature .q-title {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    letter-spacing: 2px;
}

.q-featured-caption .font-16,
.exam-wrapper .font-16,
.btn-common.font-16 {
    font-size: 16px;
}

/* .min-height-wrapper {
    min-height: calc(100vh + 190px);
} */

.exam-wrapper {
    background: #fff;
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.1);
}

.mt-wrapper {
    background: rgba(63, 198, 212, 0.05);
}

.mt-wrapper .time-left,
.mt-wrapper .answer-mark {
    font-size: 18px;
}

.question-title {
    font-size: 20px;
    font-weight: 600;
}



.btn-common.font-18 {
    font-size: 18px;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
}

.totop {
    position: fixed;
    bottom: -55px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #2E9EDF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    line-height: 35px;
    box-shadow: 0 0 5px rgba(255,255,255,0.3);
    transition: all 0.4s;
    z-index: 99;
}

.totop:hover {
    color: #fff;
    background: lighten(#2E9EDF, 15%);
}

.totop:hover i {
    animation: toTopFromBottom 0.3s forwards;
}

@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}


@media (max-width: 1650px) {
    .min-height-wrapper {
        min-height: calc(100vh - 100px);
    }
}

@media screen and (min-width: 1600px) {
    .search-input-wrapper .input-group {
        max-width: 50%;
        width: 50%;
    }
}

@media (max-width: 991px) {
    .quiz-item .q-featured-caption {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .quiz-item .q-featured-caption {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }



    .min-height-wrapper {
        min-height: calc(100vh - 80px);
    }
}
