/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/kbs-admin/node_modules
/public/front/node_modules
/public/kbs-admin/dist
/public/front/dist
/public/kbs-admin/src/main.js
/public/front/src/main.js
